# 1.Data Wrangling, I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate open source data from the web (e.g., https://www.kaggle.com). Provide a clear
description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables etc.
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the
data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set.
If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
df=pd.read_csv('car_prices.csv')

In [3]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [4]:
df.tail()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [6]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [7]:
df.isnull()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
558833,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
558834,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
558835,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
558836,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [9]:
df.notnull()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True
558833,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
558834,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
558835,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
558836,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [10]:
df.notnull().sum()

year            558837
make            548536
model           548438
trim            548186
body            545642
transmission    493485
vin             558833
state           558837
condition       547017
odometer        558743
color           558088
interior        558088
seller          558837
mmr             558799
sellingprice    558825
saledate        558825
dtype: int64

In [11]:
df.shape

(558837, 16)

In [12]:
df.size

8941392

In [13]:
df.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [14]:
df.drop(["vin"],axis=1, inplace=True)

In [15]:
df["condition"].fillna(df["condition"].mean(),inplace=True)

In [16]:
df["odometer"].fillna(df["odometer"].mean(),inplace=True)

In [17]:
df["mmr"].fillna(df["mmr"].mean(),inplace=True)

In [18]:
df["sellingprice"].fillna(df["sellingprice"].mean(),inplace=True)

In [19]:
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
state               0
condition           0
odometer            0
color             749
interior          749
seller              0
mmr                 0
sellingprice        0
saledate           12
dtype: int64

In [20]:
df["color"].fillna(df["color"].mode()[0],inplace=True)

In [21]:
df["saledate"].fillna(df["saledate"].mode()[0],inplace=True)

In [22]:
df["interior"].fillna(df["interior"].mode()[0],inplace=True)

In [23]:
df["transmission"].fillna(df["transmission"].mode()[0],inplace=True)

In [24]:
df["body"].fillna(df["body"].mode()[0],inplace=True)

In [25]:
df["trim"].fillna(df["trim"].mode()[0],inplace=True)

In [26]:
df.isnull().sum()

year                0
make            10301
model           10399
trim                0
body                0
transmission        0
state               0
condition           0
odometer            0
color               0
interior            0
seller              0
mmr                 0
sellingprice        0
saledate            0
dtype: int64

In [27]:
df['make'].fillna('Other', inplace=True)

In [28]:
df['model'].fillna('Other', inplace=True)

In [29]:
df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [30]:
# Converting Catagorical Variable to Numeric 
# 1) using replace methode()

In [31]:
df.nunique()

year                34
make                97
model              974
trim              1963
body                87
transmission         4
state               64
condition           42
odometer        172279
color               46
interior            17
seller           14263
mmr               1102
sellingprice      1888
saledate          3766
dtype: int64

In [32]:
df['transmission'].unique()

array(['automatic', 'manual', 'Sedan', 'sedan'], dtype=object)

In [33]:
df['transmission'].replace(['automatic', 'manual', 'Sedan', 'sedan'],[0, 1, 2, 3], inplace=True)

In [34]:
df.head(50)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,0,ca,5.000000,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,0,ca,5.000000,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,0,ca,45.000000,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,0,ca,41.000000,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,0,ca,43.000000,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,0,ca,1.000000,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,0,ca,34.000000,14943.0,black,black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,0,ca,2.000000,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,0,ca,42.000000,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,0,ca,3.000000,4809.0,red,black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)
10,2014,Audi,A6,3.0T Prestige quattro,Sedan,0,ca,48.000000,14414.0,black,black,desert auto trade,47300.0,49750.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
11,2015,Kia,Optima,LX,Sedan,0,ca,48.000000,2034.0,red,tan,kia motors finance,15150.0,17700.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
12,2015,Ford,Fusion,SE,Sedan,0,ca,2.000000,5559.0,white,beige,enterprise vehicle exchange / tra / rental / t...,15350.0,12000.0,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
13,2015,Kia,Sorento,LX,SUV,0,ca,5.000000,14634.0,silver,black,kia motors america inc,20600.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
14,2014,Chevrolet,Cruze,2LT,Sedan,0,ca,30.672365,15686.0,blue,black,avis rac/san leandro,13900.0,10600.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
15,2015,Nissan,Altima,2.5 S,Sedan,0,ca,2.000000,11398.0,black,black,enterprise vehicle exchange / tra / rental / t...,14750.0,14100.0,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
16,2015,Hyundai,Sonata,SE,Sedan,0,ca,30.672365,8311.0,red,—,avis tra,15200.0,4200.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
17,2014,Audi,Q5,2.0T Premium Plus quattro,SUV,0,ca,49.000000,7983.0,white,black,audi north scottsdale,37100.0,40000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
18,2014,Chevrolet,Camaro,LS,Coupe,0,ca,17.000000,13441.0,black,black,wells fargo dealer services,17750.0,17000.0,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
19,2014,BMW,6 Series,650i,Convertible,0,ca,34.000000,8819.0,black,black,the hertz corporation,68000.0,67200.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
20,2015,Chevrolet,Impala,LTZ,Sedan,0,ca,19.000000,14538.0,silver,black,enterprise vehicle exchange / tra / rental / t...,24300.0,7200.0,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
21,2014,BMW,5 Series,528i,Sedan,0,ca,29.000000,25969.0,black,black,financial services remarketing (lease),34200.0,30000.0,Tue Feb 03 2015 04:30:00 GMT-0800 (PST)
22,2014,Chevrolet,Camaro,LT,Convertible,0,ca,30.672365,33450.0,black,black,avis rac/san leandro,20100.0,14700.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
23,2015,Audi,A3,1.8 TFSI Premium,Sedan,0,ca,49.000000,5826.0,gray,black,audi north scottsdale,24000.0,23750.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
24,2014,BMW,6 Series,650i,Convertible,0,ca,38.000000,10736.0,black,black,the hertz corporation,67000.0,65000.0,Tue Jan 06 2015 12:30:00 GMT-0800 (PST)
25,2015,Hyundai,Sonata,SE,Sedan,0,ca,30.672365,9281.0,silver,gray,enterprise vehicle exchange / tra / rental / t...,15150.0,8500.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
26,2015,Volvo,XC70,T6,Wagon,0,ca,42.000000,16506.0,brown,brown,volvo na rep/world omni,32100.0,32500.0,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
27,2015,Volvo,XC70,T6,Wagon,0,ca,48.000000,12725.0,beige,beige,volvo na rep/world omni,32300.0,32500.0,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
28,2014,BMW,X5,sDrive35i,SUV,0,ca,30.672365,11278.0,gray,black,avis rac/san leandro,50400.0,34000.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
29,2014,Chevrolet,Camaro,LT,Coupe,0,ca,42.000000,11874.0,gray,black,midway hfc fleet/ars,22200.0,19500.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
30,2014,Chevrolet,Cruze,1LT,Sedan,0,ca,42.000000,37888.0,gray,black,enterprise vehicle exchange/orange,11600.0,11500.0,Tue Dec 30 2014 12:30:00 GMT-0800 (PST)
31,2014,Audi,SQ5,3.0T Premium Plus quattro,SUV,0,ca,42.000000,9606.0,white,black,audi of downtown l a,48600.0,47500.0,Thu Jan 29 2015 04:00:00 GMT-0800 (PST)
32,2015,Kia,Sorento,LX,SUV,0,ca,5.000000,13757.0,red,black,kia motors america inc,20600.0,20750.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
33,2014,Audi,S5,Premium Plus quattro,Coupe,0,ca,38.000000,5875.0,black,black,fratelli investment group,46500.0,44500.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
34,2015,Kia,Sorento,LX,SUV,0,ca,44.000000,12862.0,gray,black,kia motors america inc,20700.0,21000.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
35,2014,Buick,Verano,Convenience Group,Sedan,0,ca,2.000000,19531.0,gray,gray,enterprise vehicle exchange / tra / rental / t...,15000.0,9200.0,Tue Jan 06 2015 04:00:00 GMT-0800 (PST)
36,2015,Chevrolet,Suburban,LTZ,SUV,0,ca,45.000000,11426.0,black,black,midway hfc fleet/ars,57300.0,59900.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
37,2014,BMW,3 Series,328i SULEV,Sedan,0,ca,5.000000,111.0,black,—,financial services remarketing (lease),32200.0,30500.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
38,2014,BMW,M5,Base,Sedan,0,ca,38.000000,16360.0,black,black,the hertz corporation,65000.0,64250.0,Tue Jan 13 2015 04:30:00 GMT-0800 (PST)
39,2014,BMW,3 Series,328i SULEV,Sedan,0,ca,45.000000,9027.0,white,black,financial services remarketing (lease),30200.0,27500.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
40,2014,Cadillac,ELR,Base,Coupe,0,ca,47.000000,4436.0,gray,black,rogue cu,49400.0,44000.0,Wed Feb 04 2015 04:30:00 GMT-0800 (PST)
41,2015,Hyundai,Sonata,SE,Sedan,0,ca,30.672365,9208.0,silver,gray,enterprise vehicle exchange / tra / rental / t...,15700.0,10000.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
42,2014,BMW,6 Series,650i,Convertible,0,ca,32.000000,13205.0,white,black,the hertz corporation,66000.0,65000.0,Tue Jan 06 2015 04:30:00 GMT-0800 (PST)
43,2015,Volvo,V60,T5,Wagon,0,ca,41.000000,11846.0,white,beige,volvo na rep/world omni,31300.0,30000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
44,2014,Chevrolet,Cruze,1LT,Sedan,0,ca,30.672365,38261.0,white,—,avis tra,11450.0,2000.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
45,2014,BMW,X6,xDrive35i,SUV,0,ca,4.000000,379.0,white,black,financial services remarketing (lease),54800.0,51700.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
46,2015,Volvo,V60,T5,Wagon,0,ca,42.000000,12242.0,black,gray,volvo na rep/world omni,31200.0,30000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
47,2014,Chevrolet,Cruze,2LT,Sedan,0,ca,34.000000,40661.0,silver,black,avis corporation,13050.0,13000.0,Thu Jan 22 2015 03:30:00 GMT-0800 (PST)
48,2014,Acura,ILX,Technology Package,Sedan,0,ca,25.000000,9051.0,gray,black,american honda motor company,22700.0,21250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
49,2015,Kia,Sorento,LX,SUV,0,ca,5.000000,13878.0,silver,black,kia motors america inc,20600.0,20750.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [35]:
df.tail(20)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558817,2012,Ford,Flex,SEL,Wagon,0,ny,39.0,28320.0,red,black,ford motor credit company llc,21500.0,22300.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558818,2013,Chevrolet,Silverado 1500,LT,crew cab,0,tx,43.0,74575.0,black,black,stanley chevrolet buick gmc gatesville,22100.0,22000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558819,2012,Kia,Optima,EX,Sedan,0,fl,44.0,58176.0,red,beige,kia motors finance,12850.0,11800.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558820,2014,Dodge,Charger,SE,Sedan,0,va,42.0,22744.0,white,black,hertz corporation/gdp,16250.0,15900.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558821,2012,Ford,Escape,XLT,SUV,0,fl,38.0,74673.0,white,gray,lehman buick gmc llc,11550.0,11400.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558822,2009,Mercedes-Benz,C-Class,C300 Luxury,sedan,0,hi,41.0,80498.0,silver,black,jpmorgan chase bank n.a.,12600.0,10250.0,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
558823,2012,Chevrolet,Silverado 1500,LT,Crew Cab,0,tx,37.0,37908.0,white,black,wells fargo dealer services,25000.0,23000.0,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)
558824,2013,Audi,S5,Premium Plus quattro,convertible,0,fl,5.0,20158.0,silver,black,prestige audi,43900.0,42000.0,Thu Jul 09 2015 06:00:00 GMT-0700 (PDT)
558825,2011,Subaru,Forester,2.5X,suv,1,ca,41.0,71693.0,silver,black,remarketing by ge/billion dodge,12300.0,11750.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,0,ca,44.0,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800.0,17300.0,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,0,pa,42.0,25180.0,gray,black,hertz corporation/gdp,26000.0,24500.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558828,2012,Dodge,Grand Caravan,American Value Package,Minivan,0,ma,37.0,97036.0,silver,gray,ge fleet services for itself/servicer,8300.0,7800.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558829,2012,Hyundai,Elantra,Limited,Sedan,0,pa,4.0,66720.0,gray,gray,champion mazda,10250.0,10400.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558830,2012,Nissan,Sentra,2.0 SR,Sedan,0,tn,26.0,35858.0,white,gray,nissan-infiniti lt,9950.0,10400.0,Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558831,2011,BMW,5 Series,528i,Sedan,0,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Luxury,Sedan,0,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,0,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,0,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,0,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,0,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [36]:
# 2) using One-Hot Encoding

In [37]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc_df = pd.DataFrame(enc.fit_transform(df[['make', 'transmission', 'state','color', 'interior']]).toarray())
New_df = df.join(enc_df) 
print(New_df)

        year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558832  2015     Kia                 K900       Luxury      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

        transmission state  condition  odometer   color  ...  218  219  220  \
0                  0    ca        5.0   16639.0   white  ...  0.0  0.0  0.0
1                  0    ca        5.0    9393.0   white  ...  0.0  0.0  0.0
2                  0    ca       45.0    1331.0    gray  ...  0.0  0.0  0.0
3                  0    ca       41.0   14282.0   white  ...  0.0  0.0  0.0
4                  0    ca       43.0    2641.0    gray  ...  0.0  0.0  0.0
...              ...   ...        ...       ...     ...  ...  ...  ...  ...
558832             0    in       45.0   18255.0  silver  ...  0.0  0.0  0.0
558833             0    wa        5.0   54393.0   white  ...  0.0  0.0  0.0
558834             0    ca       48.0   50561.0   black  ...  0.0  0.0  0.0
558835             0    ga       38.0   16658.0   white  ...  0.0  0.0  0.0
558836             0    ca       34.0   15008.0    gray  ...  0.0  0.0  0.0

        221  222  223  224  225  226  227
0       0.0  0.0  0.0  0.0  0.0  0.0  0.0
1       0.0  0.0  0.0  0.0  0.0  0.0  0.0
2       0.0  0.0  0.0  0.0  0.0  0.0  0.0
3       0.0  0.0  0.0  0.0  0.0  0.0  0.0
4       0.0  0.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...
558832  0.0  0.0  0.0  0.0  0.0  0.0  0.0
558833  0.0  0.0  0.0  0.0  0.0  0.0  0.0
558834  0.0  0.0  0.0  0.0  0.0  0.0  0.0
558835  0.0  0.0  0.0  0.0  0.0  0.0  0.0
558836  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[558837 rows x 243 columns]

In [38]:
# 3) Labale Encoding

In [39]:
from sklearn import preprocessing  
label_encoder = preprocessing.LabelEncoder()  
df['interior']= label_encoder.fit_transform(df['interior']) 
df['interior'].unique()

array([ 1,  0, 13, 16,  6,  3,  4, 14, 12,  8,  2, 11, 15,  7, 10,  9,  5])

In [40]:
df.head()

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,0,ca,5.0,16639.0,white,1,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,0,ca,5.0,9393.0,white,0,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,0,ca,45.0,1331.0,gray,1,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,0,ca,41.0,14282.0,white,1,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,0,ca,43.0,2641.0,gray,1,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)